{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>RecipeBox</title>
</head>

<body>
    {% for recipe in my_recipes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a href="/recipe/{{recipe.id}}" class="card-link" style="color: orange;">
                <h5 class="card-title">{{ recipe.title }}</h5>
            </a>
            <p class="card-text">{{ recipe.description }}</p>
            <a href="/recipe/{{recipe.id}}" class="card-link" style="color: orange;">View this Recipe</a>
            {% comment %} <hr>
            <a href="/recipe_edit/{{recipe.id}}" class="card-link">Edit</a> {% endcomment %}
        </div>
    <!-- <a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a> -- {{ recipe.title }} - by {{ recipe.author.name }}
    <ul>
        <li>{{ recipe.description }}</li>
    </ul> -->
{% endfor %}
<br>
<br>

</div>

<a href="{% url 'homepage' %}">Go Home</a>
</body>