{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>RecipeBox</title>
</head>

<body>
{% for recipe in my_recipes %}
    <a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a> -- {{ recipe.title }} - by {{ recipe.author.name }}
    <ul>
        <li>{{ recipe.description }}</li>
    </ul>
{% endfor %}

<a href="{% url 'homepage' %}">Go Home</a>
</body>